.label {
  display: inline-flex;
  align-items: center;

  margin: 0;

  color: var(--text-primary);

  font-size: var(--font-sm);
  font-weight: var(--font-weight-medium);

  line-height: 1.4;

  user-select: none;
}