.container {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;

  width: 100%;
  min-height: 100vh;

  padding: clamp(3rem, 5vw, 5rem);

  overflow: hidden;
}

.content {
  position: relative;
  z-index: 2;

  max-width: 600px;

  display: flex;
  flex-direction: column;
}

.title {
  font-size: clamp(3rem, 4vw, 4.5rem);
  line-height: 1.05;
  font-weight: 700;
}

.highlight {
  color: var(--accent-primary);
}

.line {
  width: 90px;
  height: 4px;

  margin: 1rem 0;

  border-radius: 999px;

  background: var(--accent-primary);
}

.subtitle {
  max-width: 520px;

  margin-bottom: 2rem;

  color: var(--text-secondary);

  line-height: 1.8;
}

.features {
  position: relative;

  margin-top: 1.5rem;

  min-height: 260px;
}

@media(max-width:1024px){

  .container{
    display:none;
  }

}

// .container {
//   display: flex;
//   flex-direction: column;
//   justify-content: center;

//   position: relative;

//   width: 100%;
//   height: 150vh;

//   padding: clamp(2rem, 4vw, 5rem);

//   overflow: hidden;
// }

// .content {
//   position: relative;
//   z-index: 2;

//   max-width: 560px;
  

//   display: flex;
//   flex-direction: column;
//   gap: var(--spacing-4);
// }

// .title {
//   margin: 0;

//   font-size: clamp(3rem, 4vw, 4.5rem);
//   font-weight: var(--font-weight-bold);

//   line-height: 1.05;
// }

// .highlight {
//   color: var(--accent-primary);
// }

// .line {
//   width: 88px;
//   height: 4px;

//   margin: 28px 0;

//   border-radius: 999px;

//   background: var(--accent-primary);
// }

// .subtitle {
//   max-width: 520px;

//   font-size: 1.15rem;
//   line-height: 1.8;

//   color: var(--text-secondary);
// }


// @media (max-width: 1024px) {
//   .container {
//     display: none;
//   }
// }
